{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1>This is the characters page</h1>


{% for character in characters %}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{% static 'main_app/static/main_app/bugsbunny.png' %}" alt="character" style="width:300px;height:300px;">
                <h3>{{character.name}}</h3>
            </div>
            <div class="flip-card-back">
                <p>Description: {{character.description}}</p>
                <p>Starred In: {{character.starred_in}}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}