{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1>This is the characters page</h1>


{% for character in characters %}
<a href="{%url 'detail' character.id %}">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="{{ character.image_path }}" alt="character" style="width:200px;height:250px;">
                <h6>{{character.name}}</h6>
            </div>
            <div class="flip-card-back">
                <p>Description: {{character.description}}</p>
                <p>Starred In: {{character.starred_in}}</p>
            </div>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}