html {
    background: linear-gradient(180deg, #212121 0%, #8ca9b1 100%);
    min-height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

nav li, nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.card, .card-panel {
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    background-size:cover;
    border-radius: 10px;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 12vmin auto;
}

.logo {
    height: 30vmin;
    width: 30vmin;
}

.overlay {
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    background-size:cover;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vmin;
    height: 35vmin;
    margin: 12vmin auto;
    border-radius: 25px;
}

.overlay li, .overlay a {
    color: white;
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin-left: -21px;
}
.overlay img{
    margin-bottom: -35px;
}

.overlay ul {
    margin-top: -35px;
}

.about-page {
    margin-top: 25vmin;
}

.card {
    padding-bottom: 10px;
    color: black;
}

.detail-page-btns a {
    font: bold 20px;
    text-decoration: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    color: #333333;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.flip-card {
    display: inline-block;
    margin: 2rem;
    background-color: transparent;
    width: 40vmin;
    height: 40vmin;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
   
    color: white;
    transform: rotateY(180deg);
}

.calender {
    color: black;
}